body
{
    background-color: gainsboro;
    width: 100%;
    margin: 0;
    padding: 0;
}

body a
{
    color: black;
}

body a:hover
{
    color: #4CAF50;  
}

/*
navbar styling
*/

.navbar
{
    font-family: sans-serif;
}

.navbar ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}

.navbar li
{   
    float: left;
}

.navbar li a
{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar li a:hover {
  background-color: #111;
}

.navbar li.active a {
  background-color: #4CAF50;
}

.navbar img
{
    display: block;
    position: absolute;
    vertical-align: top;
    width: 50px;
    right: 10px;
    top: 2px;
    z-index: 3;
}


/* index styling*/

#bio
{
    font-family: sans-serif;
    text-align: left;
    font-size: 20px;
    width: 45%;
    margin-top: 100px;
    color: black;
    float: right;
    padding-right: 2.5%;
}

#bioPic
{
    position: relative;
    top: 45px;
    width: 50vw;
    z-index: -1;
}

.listenContainer
{
    position: relative;
    font-family: sans-serif;
    font-size: 30px;
    text-align: left;
    width: 100%;
    top: 40px;
    z-index: 1;
}

#medley
{
    font-size: 15px;
    margin-left: 20px;
}

audio
{
    width: 80%;
}

#socialContainer
{
    position: relative;
    font-family: sans-serif;
    font-size: 30px;
    top: 80px;
    text-align: left;
}

#socialMedia img
{
    padding: 10px;
}

#socialMedia img:hover{
    transform: scale(1.1);
}



/*contact me styling*/

.contactform
{
    margin-top: 75px;
    margin-bottom: 15px;
    margin-left: 25%;
    margin-right: -50%;
}

label[for="name"], label[for="email"], label[for="subject"]
{
    padding-right: 100%;
}

input[type=text], select, textarea, input[type=email]
{   
    width: 40%;
    padding-top: 7px;
    padding-bottom: 7px;
    border: 1px solid #4CAF50;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

button[type=submit]
{
    margin-top: 20px;
    margin-left: 18%;
    width: 100px;
    height: 50px;
    font-size: 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
}

button[type=submit]:hover
{
    background-color: darkgreen;
}

/*upcoming shows styling*/

#UpcomingShows
{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    font-family: sans-serif;
    font-size: 20px;
    color: black;
    margin-top: 75px;
    text-align: center;
}

#UpcomingShows ul
{
    list-style: none;
}

#UpcomingShows li
{
    border-bottom: 3px solid #4CAF50;
}

.location
{
    font-size: 12px;
}



/*calendar*/
#calendarcontainer{
    min-height: calc(100vh-60px);
}

#calendar{
    padding-top: 100px;
    max-width: 80vw;
    margin: auto;
    padding-bottom: 50px;
}

.month{
    text-align: center;
    background: #4CAF50;
    font-size: 30px;
    font-family: sans-serif;
    color: white;
    padding: 25px;
    border: 2px solid black;
}

#prevMonth{
    float: left;
}

#prevMonth:hover, #nextMonth:hover{
    cursor: pointer;
}

#nextMonth{
    float: right;
}

table, th, td{
    width: 100%;
    table-layout: fixed;
    text-align: center;
    font-size: 20px;
    padding: 20px;
    border: 2px solid black;
}

th{
    background: grey;
    color: white;
}

td:hover{
    background: #4CAF50;
    color: white;
}

.gig{
    background: lightgrey;
    color: green;
    border: 2px solid #4CAF50;
    cursor: pointer;
}

.event, .time, .info, .location{
    text-align: center;
}



.gig1{
    display: none;
    background: grey;
    width: 80%;
    margin:auto;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 40px;
    margin-top: -30px;
    border: 2px solid black;
}

.gig1.open{
    display: block;
}

.gig2{
    display: none;
    background: grey;
    width: 80%;
    margin:auto;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 40px;
    margin-top: -30px;
    border: 2px solid black;
}

.gig2.open{
    display: block;
}





/*Media Styling*/

media body
{
    text-align: center;
}

.slideshow-container
{
    
    display: block;
    position: relative;
    margin-top: 100px;

}

.slideshow-container img
{
    max-width: 50vw;
    max-height: 75vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: none; 
    border: 2px solid #4CAF50;
    border-radius: 5px;
}

.previous
{
    position: absolute;
    top: 30vh;
    font-size: 40px;
    left: 20px;
    cursor: pointer;
}

.next
{
    position: absolute;
    display: block;
    top: 30vh;
    font-size: 40px;
    right: 20px;
    cursor: pointer;
}

/*About styling*/

#aboutBody
{
    font-family: sans-serif;
    text-align: left;
    font-size: 18px;
    margin-top: 6%;
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
}

#aboutPic1
{
    display: block;
    position: absolute;
    left: 2%;
    top: 10%;  
    z-index: -1;
}

#aboutPic1 img
{
    border-radius: 100%;
    width: 20%;
}

#aboutPic2 img
{
    width: 20%;
    position: absolute;
    top: 40%;
    right: 2%;
    border-radius: 100%;
    z-index: -1;
}

#aboutBody img
{
    border-radius: 5px;
}

/*photo gallery styling*/

.gallery{
    text-align: center;
    margin-top: 50px;
}
.gallery img{
    transition: 1s;
    width: 200px;
    padding: 20px;
}

.gallery img:hover{
    transform: scale(1.1);
}

/*@media only screen and (max-width: 950px)
{
    /* only style the website this way when
    the screen is below 950px. tablet version
    .navbar
    {
        display: block;
        vertical-align: middle;
    }
    
    #bio
    {
    width: 80%;
    margin-top: 0;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
        
    }
    
    .container img
    {
        width: 40%;
        margin-left: 30%;
        margin-right: 30%;
        margin-top: 10px;
        padding: 0;
        
    }
    
    #socialMedia
    {
        margin-left: auto;
        margin-right: auto;
        padding: 0;
        float: none;
        
    }
    
    #aboutBody
    {
    margin-top: 75px;
    width: 80%;
    }

}*/
/*@media only screen and (max-width: 1200px)
{
    .container img
    {
        margin-top: 10vw;
        width: 30%;
        height: 30%;
        
    }
    
    #bio
    {
        margin-top: 15%;
    }
    
    #socialMedia
    {
        margin-right: 21%;
        
    }
    
    
}*/
/*@media only screen and (max-width: 950px)
{

    #bio
    {
        margin-top: 5%;
    }
    
    .container img
    {
        display: inline-block;
        margin-top: 5vw;
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }
    
    #socialMedia
    {
       margin-top: 5%; 
        margin-left: auto;
        margin-right: auto;
    }
    
    #aboutPic1 img
{
    display: none;
}

    .navbar li.logo img
{
    display: none;
}

#aboutPic2 img
{
    display: none;
}
}*/
@media only screen and (max-width: 1160px){
    #bio
    {
        position: relative;
        width: 80%;
        margin-right: auto;
        margin-left: auto;
        float: none;
        text-align: center;
    }
    
    .listenContainer{
        position: relative;
        text-align: center;
    }
    #socialContainer{
        position: relative;
        text-align: center;
    }
    #bioPic{
        position: relative;
        max-width: 100%;
        display: block;
        margin-right: auto;
        margin-left: auto;
        margin-top: 50px;
    }
    #medley{
        margin-right: 0;
    }
    
}
@media only screen and (max-width: 630px)
{
    /*mobile version - change navbar*/
     .navbar li.logo img
{
    display: none;
}
    
    .burger-nav
    {
        display: block;
        height: 40px;
        background: url(images/menu-alt-512.png) no-repeat 98% center;
        background-size: 30px;
        background-color: #333;
        cursor: pointer;
        z-index: 3;
    }
    
    .burger-nav.open
    {
        display: block;
        height: 40px;
        background: url(images/menu_open.png) no-repeat 98% center;
        background-size: 30px;
        background-color: #333;
        cursor: pointer;
    }
    
    .navbar
    {
        position: absolute;
        width: 100%;
        display: block;
        vertical-align: middle;
    }
    .navbar ul
{
    position: relative;
    margin-top: 40px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #404040;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
}
    
    .navbar ul.open
    {
        height: auto;
    }

    .navbar li
{   
    float: none;
}

    .navbar li a
{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
    border-bottom: 1px solid #333;
}

    .navbar li a:hover {
    background-color: #111;
}

.navbar li.active a {
    background-color: #4CAF50;
}
    
    

    body
    {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
    }
    
    #bio
    {
    width: 80%;
    margin-top: 5%;
    text-align: center;
    }
    
    #bio.open
    {
        margin-top: 250px;
    }
    
    .container img
    {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 10px;
        padding: 0;
        
    }
    
    #socialMedia
    {
        padding: 0;
        float: none;
        
    }
    
    .contactform
    {
    margin-top: 5%;
    width: 80%;
    margin-bottom: 15px;
    margin-left: 10%;
    margin-right: 10%;
    }
    
    .contactform.open
    {
        margin-top: 250px;
    }

    input[type=text], select, textarea, input[type=email]
{   
    width: 100%;
    padding-top: 7px;
    padding-bottom: 7px;
    border: 1px solid #4CAF50;
    border-radius: 4px;
    box-sizing: border-box;
}
    
    button[type=submit]
{
    margin-top: 20px;
    margin-left: 30%;
    width: 40%;
    height: 50px;
    font-size: 15px;
    background-color: #4CAF50;
    color: white;
}

    #aboutBody
    {
    margin-top: 5%;
    text-align: center;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    }
    
    #aboutBody.open
    {
        margin-top: 250px;
    }
    
    #aboutPic1{
        display: none;
    }
    #aboutPic2{
        display: none;
    }
    
    
    #UpcomingShows
    {
    width: 80%;
    margin-left: 5%;
    margin-top: 5%;
    }
    
    #UpcomingShows.open
    {
        margin-top: 250px;
    }
    
    .gallery.open{
        margin-top: 250px; 
    }
    
    #medley{
        margin-left: 0;
    }
    
    .listenContainer
    {
       text-align: center; 
    }
    
    audio
    {
        position: relative;
        width: 100%;
    }


.slideshow-container
{
    position: absolute;
    width: 100vw;
    height: 65vh;
    top: -40px;
    text-align: center;
}
    
.slideshow-container img
{
    max-width: 99vw;
    max-height: 65vh;
    border: none;
}

.previous
    {
        padding-bottom: 30px;
        top: 80vh;
        left: 30%;
    }
    
.next
    {
        padding-bottom: 30px;
        top: 80vh;
        right: 30%; 
    }
    
    .slideshow-container.open
    {
        transform: translate(0px, 230px);
    }

    .previous.open
    {
        transform: translate(0px, 230px);
    }
    .next.open
    {
        transform: translate(0px, 230px);
    }
    
}


